<!doctype html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="./styles/index.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.1/css/all.css">
    <title>NEWSIC</title>
  </head>
  <body>
    <div class="container">
      <div id="header">
        <a href="/"><h1>NEWSIC</h1></a>
        <p>Get a personalised feed consisting of news articles based on your top artists.</p>
        <a href="/about"><h5>About<h5></a>
      </div>
      <div id="content">
        <h6>Continue with Spotify</h6>
          <a href="/login" class="button" style="vertical-align:middle"><span>GO</span></a>
      </div>
    </div>
  </body>
</html>
