<!doctype html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="./styles/oops.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.1/css/all.css">
    <title>NEWSIC</title>
  </head>
  <body>
    <div class="container">
      <div id="header">
        <a href="/"><h1>NEWSIC</h1></a>
      </div>
      <div id="content">
        <h6>Sorry! It appears as if you don't have enough Spotify data for us to generate news.</h6>
      </div>

    </div>
  </body>
</html>
